.main-header {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  position: absolute;
  top: 0;
  width: 100%;

  a {
    color: #565656;
    font-family: 'Work Sans', sans-serif;

    &:hover {
      color: #565656;
    }
  }

  ul {
    margin-bottom: 0;
  }

  i {
    color: #565656;
    cursor: pointer;
  }

  &-logo-desktop {
    width: 107px;
    height: 29px;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &-logo-mobile {
    width: 122px;
    height: 40px;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}
