.custom-button {
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 56px !important;
  border-radius: 4px !important;
  border: none !important;
  background: #D91C5C !important;
  font-family: 'Work Sans', sans-serif;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 24px !important;
  line-height: 22px !important;
  padding: 0 2rem !important;
}
