@import "../../styles/sass/mixins.scss";

.custom-button {
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 56px !important;
  border-radius: 4px !important;
  border: none !important;
  background: #D91C5C !important;
  @include app-font(24px, 22px, 500);
  padding: 0 2rem !important;

  @media (max-width: 575.98px) {
    height: 41px !important;
    @include app-font(18px, 22px, 500);
  }
}
