@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

$primary-color: #482ff7;
$secondary-color: #fc5c9c;


body {
  color: $primary-color;
  @apply text-base antialiased;
  font-family: 'Work Sans', sans-serif;
  height: calc(100vh - 4rem) !important;
}

h1 {
    color: $secondary-color;
}

//buttonsUI
.btn {
  @apply inline-block px-24 py-8 rounded text-white;
}

.btn--primary {
  @apply bg-black text-white border border-black;
}

.btn--white {
  @apply bg-white border border-white text-black;
}

h1 {
  font-weight: 600 !important;
  font-size: 60px;
  margin-bottom: 0 !important;
  font-family: 'Work Sans', sans-serif;
}

h2 {
  font-size: 48px;
  font-weight: 400 !important;
  margin-bottom: 0 !important;
  font-family: 'Work Sans', sans-serif;
}

h3 {
  font-size: 40px;
  font-weight: 400 !important;
  margin-bottom: 0 !important;
  font-family: 'Work Sans', sans-serif;
}

h4 {
  font-size: 32px;
  font-weight: 400 !important;
  margin-bottom: 0 !important;
  font-family: 'Work Sans', sans-serif;
}

h5 {
  font-size: 22px;
  font-weight: 400 !important;
  font-family: 'Work Sans', sans-serif;
}

.page-container {
  height: calc(100vh - 4rem);
  overflow: auto;
  margin-top: 4rem;

  &::-webkit-scrollbar {
    display: none;
  }
}
